@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
body{
    margin: 0px;
    height: 100%;
    font-family: 'Sniglet', cursive;    

}

.container{
    height: 100%;
    width: 100%;
 
    position: absolute;
}


.bg-img{
    background-image: url("/images/Groot.jpg");


    height:max-content;
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
}

.head{
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); 
    text-align: center;
    font-size: 2rem;


}

.txtout{
    padding:1rem;
    text-align: center;   
}

::placeholder{
    color:rgb(34, 41, 36);
    opacity: 0.7;
}
.txt-input{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Sniglet', cursive;
    width: 75%;
    display: block;
    
    padding:  1rem;
    min-height: 20vh;
    resize: vertical;
    color: rgba(119, 68, 9, 0.877);
    background-color: rgba(1, 224, 205, 0.562);
    font-size: 1.5rem;
    border-color: rgb(157, 231, 20);
    border-style: ridge;
    border-width: 2px;
    

}


button{
    color: rgb(147, 235, 32);
    font-size: 2rem;
    opacity: 0.87;
    background-color: #57001de0;
    background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
    margin: 1rem;
    cursor: pointer;
}

.output{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    display: block;
    /* margin: 1rem; */
    padding: 1rem;
    min-height: 20vh;
    resize: vertical;
    background: transparent;
    color: rgba(119, 68, 9, 0.877);
    background-color: rgba(1, 224, 205, 0.562);
    font-size: 1.5rem;
    border-color:rgb(157, 231, 20);
    border-style: ridge;
    border-width: 2px;
}

.footer{
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); 
    
    color: rgba(119, 68, 9, 0.877);
    height: auto;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;

    
}

.footer .footer-head{
    padding: 2rem;
}